html, body {
  margin-left: 2em;
  background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%);
  font-family: Verdana, sans-serif;
}

h1 {
    color: #FFF;
    text-align: center;
    font-variant: small-caps;
}



.btn {
  width: 6em;
  height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #28b7ef;
  color: #FFF;
}

.content-exc {
  color: red;
}

.txtArea {
    color: #FFF;
    font-weight: bold;
    text-align: left;
}

